{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block main %}
    {{form_start(productform)}} 
        {{form_widget(productform)}}
        <button>Modifier</button>
    {{form_end(productform)}}
{% endblock %}
