@use "../../abstract/mixins";
@use "../../abstract/variable" as var;

#intro {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 2rem;
    color: var.$primarycolor;

    h2 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        text-align: justify;
    }
}

#preview {
    @include mixins.flex($wrap: wrap);

    .card {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        margin: 1rem 5px;
        color: var.$primarycolor;
        max-width: 25%;
        min-width: 215px;

        a {
            @include mixins.flex(column, space-between);
            color: var.$secondarycolor;
            padding: 1rem;
            height: 360px;

            &:hover {
                color: var.$primarycolor;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.2);
                
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
                border-radius: 10px;
            }

            .tags {
                @include mixins.flex(column);
            }
        }
    }
}

#form {
    form {
        @include mixins.flex(column);

        #contact {
            div {
                @include mixins.flex(column);
            }
        }
    }
}