@use "../abstract/mixins";
@use "../abstract/variable" as var;

header { 
        margin-bottom: 50px;

    nav {
        background-color: var.$secondarycolor;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        width: 100%;

        ul {
            @include mixins.flex($justify:space-between);

            li {
                padding: 0.5rem 1rem;

                a {
                    @include mixins.hover(var.$backgroundcolor);
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    font-size: 28px;
                    color: black;
                }
            }
        }
    }
}